#bacon-1 {
    position: absolute;
    top: 20vh;
    left: 120vw;
}

#bacon-2 {
    position: absolute;
    top: 20vh;
    left: 150vw;
}

#bacon-3 {
    position: absolute;
    top: 20vh;
    left: 180vw;
}

#bacon-4 {
    position: absolute;
    top: 20vh;
    left: 190vw;
}

#bacon-5 {
    position: absolute;
    top: 20vh;
    left: 195vw;
}

#bacon-6 {
    position: absolute;
    top: 20vh;
    left: 210vw;
}

#bacon-7 {
    position: absolute;
    top: 20vh;
    left: 220vw;
}

#bacon-8 {
    position: absolute;
    top: 20vh;
    left: 235vw;
}

#bacon-9 {
    position: absolute;
    top: 20vh;
    left: 270vw;
}

#bacon-10 {
    position: absolute;
    top: 20vh;
    left: 290vw;
}

#bacon-11 {
    position: absolute;
    top: 20vh;
    left: 310vw;
}

#bacon-12 {
    position: absolute;
    top: 20vh;
    left: 330vw;
}

#bacon-13 {
    position: absolute;
    top: 20vh;
    left: 345vw;
}

#bacon-14 {
    position: absolute;
    top: 20vh;
    left: 385vw;
}

#bacon-15 {
    position: absolute;
    top: 20vh;
    left: 455vw;
}

#bacon-16 {
    position: absolute;
    top: 20vh;
    left: 620vw;
}

