.whale,
.fishes {
    pointer-events: none;
    position: absolute;
    top: 32.5vh;
    height: 35vh;
    width: 20vw;
    left: 40vw;
    opacity: 0;
}

.shell {
    position: absolute;
    height: 20vh;
    left: 340vw;
    top: 80vh;
}


@keyframes whale-grow {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fishes-grow {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fishes-swim {

    0%,
    100% {
        opacity: 1;
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        opacity: 1;
        transform: translateY(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        opacity: 1;
        transform: translateY(10px);
    }
}


@keyframes whale-swim {

    0%,
    100% {
        opacity: 1;
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        opacity: 1;
        transform: translateY(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        opacity: 1;
        transform: translateY(10px);
    }
}

@keyframes swim {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateY(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateY(10px);
    }
}


@keyframes slide-out-top {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }

    100% {
        transform: scale(0.4) translateY(-1000px);
        opacity: 0;
    }
}

@keyframes fishes-move {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    100% {
        top: 70vh;
        left: 60vw;
        opacity: 0;
        transform: scale(0.3)
    }
}

@keyframes shell-bounce {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.8, 0.9, 1);
    }

    65% {
        transform: scale3d(0.95, 1.2, 1);
    }

    75% {
        transform: scale3d(1.2, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}