#java {
    order: 1;
    height: 20vh;
    margin-bottom: 20vh;
}

#git {
    order: 2;
    height: 12vh;
    margin-bottom: 25vh;
    margin-left: 9vh;
}

#html {
    order: 3;
    height: 18vh;
    margin-bottom: 14vh;
    margin-left: 13vh;
}

#css {
    order: 4;
    height: 18vh;
    margin-bottom: 7vh;
    margin-left: 5vh;
}

#js {
    order: 5;
    height: 18vh;
    margin-bottom: 12vh;
    margin-left: 5vh;
}

#angular {
    order: 6;
    height: 12vh;
    margin-bottom: 38vh;
    margin-left: 6vh;
}

#firebase {
    order: 7;
    height: 14vh;
    margin-bottom: 26vh;
    margin-left: 9vh;
}

#node {
    order: 8;
    height: 14vh;
    margin-bottom: 16vh;
    margin-left: 8vh;
}

#mongo {
    order: 9;
    height: 14vh;
    margin-bottom: 12vh;
    margin-left: 10vh;
}

#react {
    order: 10;
    height: 18vh;
    margin-bottom: 2vh;
    margin-left: 10vh;
}

#redux {
    order: 11;
    height: 18vh;
    margin-bottom: 10vh;
    margin-left: 8vh;
}